{% extends 'base.html' %}
{% load thumbnail %}

{% block main %}
  <section class="left">
    {{content|safe}}
  </section>

  <section class="right">
    <h1>Programma {{event.title}}</h1>

    {% for session in event.sessions.all %}
      <section class="session">
        <h2>{{session.title}}</h2>
        <time>
          {{session.date|default:''}}
          {% if session.begin_time and session.end_time %}
            <br>{{session.begin_time}} – {{session.end_time}}
          {% endif %}
        </time>
        {{session.description|safe}}

        {% comment %}
          <a class="button" href="{% url 'session' session.slug %}">Bekijk documentatie</a>
        {% endcomment %}
      </section>
    {% endfor %}
  </section>
{% endblock %}

{% block extrabody %}
  {% for e in emoji %}
    <div class="horizontal h{{forloop.counter}}">
      <div class="vertical v{{forloop.counter}}">
        <img src="{{e.image|thumbnail_url:'small'}}" alt="{{e.image.name}}">
      </div>
    </div>
  {% endfor %}
{% endblock %}
