$yellow: #ffda00;
$red: #ff3442;
$grey: #d4d4d3;
$radius: 6px;

$medium: 800px;

div.debug {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #6006;
  color: white;
  font-size: 12px;
  z-index: 1000;
  padding: 2px;
  display: none;
}

@font-face {
  font-family: 'Entrails BB';
  src: url('../EntrailsBB.otf') format('opentype'),
       url('../entrailsbb-webfont.woff2') format('woff2'),
       url('../entrailsbb-webfont.woff') format('woff'),
       url('../entrailsbb-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agipo';
  src: url('agipo_regular_italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body, html {
  background: $yellow;
  font-family: Agipo, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
body.grey {
  background: $grey;
}

main {
  max-width: $medium;
  margin: auto;
  @media(min-width: $medium) {
    max-width: none;
    margin: 50px;
  }
}

div.title_screen {
  height: 100vh;
  background-color: $yellow;
  text-align: center;
  padding: 10px 30px;

  h1 {
    margin: 0 -30px;
    padding: 20px 0;
    font-family: 'Entrails BB';
    font-size: 2.5em;
    line-height: 1.1;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
    border-radius: $radius;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  p {
    margin: 0.25em;
  }
}

//section.type50 {
//  max-width: 800px;
//  margin: auto;
//}

section {
  position: relative;
  min-height: 100vh;

  a.edit {
    position: absolute;
    top: 0;
    right: 5px;
    color: red;
    text-decoration: none;
    font-size: 12px;
    z-index: 1000;
  }

  form {
    div.screen {
      min-height: 100vh;
      text-align: center;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $grey;

      div.video {
        video {
          width: 100%;
        }
        &.mobile {
          @media(min-width: $medium) { display: none }
        }
        &.desktop {
          @media(max-width: $medium) { display: none }
        }
      }


      div.choices {
        padding: 0 25px;
      }
      img {
        display: block;
        width: 100%;
      }
      img.mobile {
        display: none;
        @media(max-width: $medium) {
          display: block;
        }
      }
      img.desktop {
        display: none;
        @media(min-width: $medium) {
          display: block;
        }
      }
      div.title {
        padding: 25px;

        h1 {
          margin: 0;
          padding: 10px;
          font-family: 'Entrails BB';
          font-weight: normal;
          font-size: 30px;
          text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
          box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
          text-align: center;
          font-weight: normal;
          border-radius: $radius;
          letter-spacing: 1px;
          text-transform: uppercase;
          word-wrap: break-word;
          line-height: 1.1;
          background: $yellow;
        }
      }

      p {
        line-height: 1.2;
        margin-top: 1.4em;
        margin-bottom: 1.9em;
        font-size: 26px;
      }

      div.alert {
        font-size: 3em;
        line-height: 0.9;
        letter-spacing: -2px;
        margin: 30px;
        padding: 30px 0;
        text-align: center;
        box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
        text-shadow: -2px -2px 0 #9b67e6;
        border-radius: $radius;
      }

      div.messages {
        @media(min-width: $medium) { margin: 0 16% 0 14% }
        padding: 25px;
        padding-bottom: 0;
      }

      div.message {
        text-align: left;
        margin-left: 15%;
        box-sizing: border-box;
 	position: relative;
	border-radius: $radius;
        width: 85%;
        padding: 15px;
        @media(min-width: $medium) { padding: 25px }
        margin-bottom: 20px;
        @media(min-width: $medium) { margin-bottom: 45px }
        box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
        background: $yellow;

        p {
          font-size: 17px;
          @media(min-width: $medium) { font-size: 25px }
          margin: 0;
          hyphens: manual;
          hyphens: auto;
        }

        &:after {
	  content: '';
	  position: absolute;
          right: -20px;
          bottom: 0;
	  width: 0;
	  height: 0;
	  margin-top: -15px;
	  margin-left: -30px;
	  border: 30px solid transparent;
	  border-right: 0;
	  border-bottom: 0;
          border-left-color: $yellow;
        }
      }
      div.message.received {
        background: white;
        margin-left: 0;

        &:after {
          right: auto;
	  left: 10px;
	  border: 30px solid transparent;
	  border-right-color: white;
	  border-left: 0;
	  border-bottom: 0;
        }
      }

      div.characters {
        img {
          width: 100%;
        }
        button {
          float: left;
          width: 50%;
          box-shadow: none;
        }
      }
    }
  }
}

div.next {
  //position: absolute;
  //left: 0;
  //bottom: 0;
  width: 100%;
  text-align: right;

  a, button {
    background: rgba(255,255,255,0.3) !important;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 20px;
    @media(min-width: $medium) { margin-right: 75px }
    margin-bottom: 20px;
    width: auto;
    cursor: pointer;
    border: none;
    border-radius: $radius;
    font-size: 17px;
    @media(min-width: $medium) { font-size: 25px }
    font-family: Agipo, sans-serif;
    color: black;
    text-decoration: none;
    transition: .2s;

    &:hover {
      background: $yellow !important;
    }
  }
}


button.disabled {
  opacity: 0.25;
  cursor: default !important;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: none;
  cursor: pointer;
  outline: none;
}


div.screen.choice p {
  margin-bottom: .75em;
  @media(min-width: $medium) {
    margin-bottom: 2em;
    font-size: 1.75em;
  }
}

div.choices {
  font-size: 0;
}

button.image {
  width: 75%;
  display: block;
  margin: auto;

  @media(min-width: $medium) {
    width: 25%;
    display: inline-block;
  }
}

button.fancy, a.fancy {
  display: block;
  text-align: center;
  cursor: pointer;
  //background: $grey;

  width: 100%;
  @media(min-width:$medium) { margin: 1em auto }
  @media(min-width:$medium) { width: 60% }
  @media(min-width:$medium) { font-size: 32px }
  @media(min-width:$medium) { padding: 56px }
  box-sizing: border-box;
  border: none;
  border-radius: $radius;
  text-shadow: -1px -1px 0 white;
  box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
  font-size: 24px;
  font-family: Agipo, sans-serif;
  text-transform: uppercase;

    text-shadow: -1px -1px 0 white;
    color: black;
    display: block;
    margin: .6em 0;
    text-decoration: none;
    padding: 32px 48px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    border-radius: $radius;
    text-transform: uppercase;
    line-height: 1;

}

div.menu {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  margin-top: 45px;

  a {
    text-shadow: -1px -1px 0 white;
    color: black;
    display: block;
    margin: 1em 0;
    background: #d4d4d3;
    text-decoration:none;
    padding: 18px 24px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    border-radius: $radius;
    text-transform: uppercase;
  }
}

input[type=submit] {
}

footer {
  margin: 25px;
  font-size: 0.7em;
  opacity: 0.5;
}



/* Flying Emoji */

$width: 80px;
$height: 80px;

div.horizontal, div.vertical {
  position: fixed;
  top: -5px;
  left: 0;

  img {
    width: $width;
  }
}

div.horizontal {
  animation: topbottom linear infinite alternate;
}

div.vertical {
  animation: leftright linear infinite alternate;
}

$max: 30000;
$min: 10000;

div.v1 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v2 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v3 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v4 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v5 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v6 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v7 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v8 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v9 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h1 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h2 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h3 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h4 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h5 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h6 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h7 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h8 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h9 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}


@keyframes topbottom {
  to {
    transform: translateY(calc(100vh - #{$height}));
  }
}
@keyframes leftright {
  to {
    transform: translateX(calc(100vw - #{$width}));
  }
}
