@font-face {
  font-family: 'Entrails BB';
  src: url("../EntrailsBB.otf") format("opentype"), url("../entrailsbb-webfont.woff2") format("woff2"), url("../entrailsbb-webfont.woff") format("woff"), url("../entrailsbb-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Agipo';
  src: url("agipo_regular_italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

body, html {
  background: black;
  font-family: Agipo, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0; }

main {
  height: 100vh; }

section.type10 form div.header h1 {
  background: none !important;
  box-shadow: none;
  text-transform: none; }

section form {
  padding-bottom: 100px; }

section form div.header h1 {
  font-family: 'Entrails BB';
  font-weight: normal; }

section {
  height: 100%;
  max-width: 700px;
  margin: auto;
  position: relative; }
  section div.gradient {
    content: '';
    display: block;
    position: fixed;
    height: 250px;
    background: red;
    bottom: 0;
    width: 100%;
    max-width: 700px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 90%); }
  section form {
    min-height: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white; }
    section form div.header {
      overflow: hidden; }
      section form div.header h1 {
        font-size: 30px;
        text-align: center;
        font-weight: normal;
        background: white;
        margin: 25px;
        border-radius: 6px;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
        text-shadow: -1px -1px 0 white;
        letter-spacing: 1px;
        padding: 15px;
        text-transform: uppercase;
        word-wrap: break-word; }
    section form div.screen {
      margin: 25px; }
      section form div.screen div.message {
        margin-left: 15%;
        box-sizing: border-box;
        position: relative;
        background: #ffda00;
        border-radius: 6px;
        width: 85%;
        padding: 1px 20px;
        margin-bottom: 25px;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25); }
        section form div.screen div.message:after {
          content: '';
          position: absolute;
          right: -20px;
          bottom: 0;
          width: 0;
          height: 0;
          border: 30px solid transparent;
          border-left-color: #ffda00;
          border-right: 0;
          border-bottom: 0;
          margin-top: -15px;
          margin-left: -30px; }
      section form div.screen div.message.received {
        background: white;
        margin-left: 0; }
        section form div.screen div.message.received:after {
          right: auto;
          left: 10px;
          border: 30px solid transparent;
          border-right-color: white;
          border-left: 0;
          border-bottom: 0; }

button {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 6px;
  padding: 40px 10px;
  text-shadow: -1px -1px 0 white;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-family: Agipo, sans-serif;
  text-transform: uppercase; }

div.next {
  z-index: 1;
  position: fixed;
  padding: 15px;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  text-align: right; }

div.menu {
  font-size: 2em;
  text-align: center; }
  div.menu a {
    display: block;
    margin: 1em;
    background: #ccc;
    color: #333333;
    text-decoration: none;
    padding: 12px 24px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-transform: uppercase; }

.fancy {
  font-family: Agipo, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66; }

.fancy:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23; }

footer {
  margin: 25px;
  font-size: 0.7em;
  opacity: 0.5; }

/* Flying Emoji */
div.horizontal, div.vertical {
  position: fixed;
  top: -5px;
  left: 0; }
  div.horizontal img, div.vertical img {
    width: 80px; }

div.horizontal {
  animation: topbottom linear infinite alternate; }

div.vertical {
  animation: leftright linear infinite alternate; }

div.v1 {
  animation-delay: -11953ms;
  animation-duration: 22563ms; }

div.v2 {
  animation-delay: -24889ms;
  animation-duration: 23052ms; }

div.v3 {
  animation-delay: -11305ms;
  animation-duration: 25788ms; }

div.v4 {
  animation-delay: -10366ms;
  animation-duration: 16189ms; }

div.v5 {
  animation-delay: -12452ms;
  animation-duration: 23438ms; }

div.v6 {
  animation-delay: -22900ms;
  animation-duration: 28191ms; }

div.v7 {
  animation-delay: -10897ms;
  animation-duration: 11889ms; }

div.v8 {
  animation-delay: -20576ms;
  animation-duration: 28501ms; }

div.v9 {
  animation-delay: -19852ms;
  animation-duration: 21093ms; }

div.h1 {
  animation-delay: -25533ms;
  animation-duration: 26212ms; }

div.h2 {
  animation-delay: -23564ms;
  animation-duration: 11359ms; }

div.h3 {
  animation-delay: -26585ms;
  animation-duration: 11172ms; }

div.h4 {
  animation-delay: -16417ms;
  animation-duration: 21173ms; }

div.h5 {
  animation-delay: -13017ms;
  animation-duration: 10932ms; }

div.h6 {
  animation-delay: -24919ms;
  animation-duration: 10823ms; }

div.h7 {
  animation-delay: -18774ms;
  animation-duration: 15971ms; }

div.h8 {
  animation-delay: -23956ms;
  animation-duration: 20768ms; }

div.h9 {
  animation-delay: -12432ms;
  animation-duration: 29993ms; }

@keyframes topbottom {
  to {
    transform: translateY(calc(100vh - 80px)); } }

@keyframes leftright {
  to {
    transform: translateX(calc(100vw - 80px)); } }

/*# sourceMappingURL=main5.css.map */