@font-face {
  font-family: 'Entrails BB';
  src: url("../EntrailsBB.otf") format("opentype"), url("../entrailsbb-webfont.woff2") format("woff2"), url("../entrailsbb-webfont.woff") format("woff"), url("../entrailsbb-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Agipo';
  src: url("agipo_regular_italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

body, html {
  background: #ffda00;
  font-family: Agipo, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0; }

body.grey {
  background: #d4d4d3; }

div.title_screen {
  height: 100vh;
  background-color: #ffda00;
  text-align: center;
  padding: 10px 30px; }
  div.title_screen h1 {
    margin: 0 -30px;
    padding: 20px 0;
    font-family: 'Entrails BB';
    font-size: 2.5em;
    line-height: 1.1;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
    border-radius: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-wrap: break-word; }
  div.title_screen p {
    margin: 0.25em; }

section {
  max-width: 700px;
  margin: auto;
  position: relative;
  min-height: 100vh; }
  section a.edit {
    position: absolute;
    top: 0;
    right: 5px;
    color: red;
    text-decoration: none;
    font-size: 12px;
    z-index: 1000; }
  section form div.screen {
    min-height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d4d4d3; }
    section form div.screen div.video {
      padding-bottom: 1em; }
      section form div.screen div.video div.iframe {
        width: 100%;
        padding-bottom: 56%;
        position: relative; }
        section form div.screen div.video div.iframe iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0; }
    section form div.screen div.choices {
      padding: 0 25px; }
    section form div.screen img {
      display: block;
      width: 100%; }
    section form div.screen div.title {
      padding: 25px; }
      section form div.screen div.title h1 {
        margin: 0;
        padding: 10px;
        font-family: 'Entrails BB';
        font-weight: normal;
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-weight: normal;
        border-radius: 6px;
        letter-spacing: 1px;
        text-transform: uppercase;
        word-wrap: break-word;
        line-height: 1.1;
        background: #ffda00; }
    section form div.screen p {
      line-height: 1.2;
      margin-top: 1.4em;
      margin-bottom: 1.9em;
      font-size: 26px; }
    section form div.screen div.alert {
      font-size: 3em;
      line-height: 0.9;
      letter-spacing: -2px;
      margin: 30px;
      padding: 30px 0;
      text-align: center;
      box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
      text-shadow: -2px -2px 0 #9b67e6;
      border-radius: 6px; }
    section form div.screen div.messages {
      padding: 25px;
      padding-bottom: 0; }
    section form div.screen div.message {
      text-align: left;
      margin-left: 15%;
      box-sizing: border-box;
      position: relative;
      border-radius: 6px;
      width: 85%;
      padding: 15px;
      margin-bottom: 20px;
      box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
      background: #ffda00; }
      section form div.screen div.message p {
        font-size: 17px;
        margin: 0;
        hyphens: manual;
        hyphens: auto; }
      section form div.screen div.message:after {
        content: '';
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        margin-top: -15px;
        margin-left: -30px;
        border: 30px solid transparent;
        border-right: 0;
        border-bottom: 0;
        border-left-color: #ffda00; }
    section form div.screen div.message.received {
      background: white;
      margin-left: 0; }
      section form div.screen div.message.received:after {
        right: auto;
        left: 10px;
        border: 30px solid transparent;
        border-right-color: white;
        border-left: 0;
        border-bottom: 0; }
    section form div.screen div.characters img {
      width: 100%; }
    section form div.screen div.characters button {
      float: left;
      width: 50%;
      box-shadow: none; }

div.next {
  width: 100%;
  text-align: right; }
  div.next a, div.next button {
    background: rgba(255, 255, 255, 0.3) !important;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-family: Agipo, sans-serif;
    color: black;
    text-decoration: none; }

button.disabled {
  opacity: 0.25;
  cursor: default !important; }

button {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: none;
  cursor: pointer;
  outline: none; }

button.image {
  width: 50%;
  float: left; }

button.fancy, a.fancy {
  display: block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  text-shadow: -1px -1px 0 white;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-family: Agipo, sans-serif;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 white;
  color: black;
  display: block;
  margin: .6em 0;
  text-decoration: none;
  padding: 32px 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-transform: uppercase;
  line-height: 1; }

div.menu {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  margin-top: 45px; }
  div.menu a {
    text-shadow: -1px -1px 0 white;
    color: black;
    display: block;
    margin: 1em 0;
    background: #d4d4d3;
    text-decoration: none;
    padding: 18px 24px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-transform: uppercase; }

footer {
  margin: 25px;
  font-size: 0.7em;
  opacity: 0.5; }

/* Flying Emoji */
div.horizontal, div.vertical {
  position: fixed;
  top: -5px;
  left: 0; }
  div.horizontal img, div.vertical img {
    width: 80px; }

div.horizontal {
  animation: topbottom linear infinite alternate; }

div.vertical {
  animation: leftright linear infinite alternate; }

div.v1 {
  animation-delay: -22927ms;
  animation-duration: 25042ms; }

div.v2 {
  animation-delay: -29988ms;
  animation-duration: 14975ms; }

div.v3 {
  animation-delay: -27016ms;
  animation-duration: 12697ms; }

div.v4 {
  animation-delay: -13342ms;
  animation-duration: 19642ms; }

div.v5 {
  animation-delay: -19521ms;
  animation-duration: 28177ms; }

div.v6 {
  animation-delay: -19256ms;
  animation-duration: 11938ms; }

div.v7 {
  animation-delay: -11225ms;
  animation-duration: 10132ms; }

div.v8 {
  animation-delay: -15576ms;
  animation-duration: 12316ms; }

div.v9 {
  animation-delay: -24350ms;
  animation-duration: 20757ms; }

div.h1 {
  animation-delay: -22786ms;
  animation-duration: 28753ms; }

div.h2 {
  animation-delay: -18173ms;
  animation-duration: 15790ms; }

div.h3 {
  animation-delay: -22310ms;
  animation-duration: 10442ms; }

div.h4 {
  animation-delay: -14729ms;
  animation-duration: 16545ms; }

div.h5 {
  animation-delay: -22861ms;
  animation-duration: 11283ms; }

div.h6 {
  animation-delay: -13424ms;
  animation-duration: 14462ms; }

div.h7 {
  animation-delay: -13675ms;
  animation-duration: 25250ms; }

div.h8 {
  animation-delay: -29046ms;
  animation-duration: 18532ms; }

div.h9 {
  animation-delay: -13352ms;
  animation-duration: 22808ms; }

@keyframes topbottom {
  to {
    transform: translateY(calc(100vh - 80px)); } }

@keyframes leftright {
  to {
    transform: translateX(calc(100vw - 80px)); } }

/*# sourceMappingURL=main13.css.map */