$yellow: #ffda00;
$red: #ff3442;
$radius: 6px;

@font-face {
  font-family: 'Entrails BB';
  src: url('../EntrailsBB.otf') format('opentype'),
       url('../entrailsbb-webfont.woff2') format('woff2'),
       url('../entrailsbb-webfont.woff') format('woff'),
       url('../entrailsbb-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agipo';
  src: url('agipo_regular_italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body, html {
  background: black;
  font-family: Agipo, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

div.title_screen {
  height: 100%;
  background-color: $yellow;
  text-align: center;
  padding: 10px;

  h1 {
    margin: 0;
    padding: 20px;
    font-family: 'Entrails BB';
    font-size: 2.5em;
    line-height: 1.1;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
    border-radius: $radius;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  p {
    margin: 0.25em;
  }
}

section {
  height: 100%;
  max-width: 700px;
  margin: auto;
  position: relative;

  a.edit {
    position: absolute;
    top: 0;
    right: 5px;
    color: red;
    text-decoration: none;
    font-size: 12px;
  }

  form {
    height: 100%;
    overflow-x: auto;

    div.screen {
      min-height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: white;

      div.title {
        padding: 15px;

        h1 {
          margin: 0;
          padding: 10px;
          font-family: 'Entrails BB';
          font-weight: normal;
          font-size: 30px;
          text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
          box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
          text-align: center;
          font-weight: normal;
          border-radius: $radius;
          letter-spacing: 1px;
          text-transform: uppercase;
          word-wrap: break-word;
          line-height: 1.1;
        }
      }

      div.messages {
        padding: 25px;
      }

      div.message {
        margin-left: 15%;
        box-sizing: border-box;
 	position: relative;
	border-radius: $radius;
        width: 85%;
        padding: 1px 20px;
        margin-bottom: 25px;
        box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
        background: $yellow;

        &:after {
	  content: '';
	  position: absolute;
          right: -20px;
          bottom: 0;
	  width: 0;
	  height: 0;
	  margin-top: -15px;
	  margin-left: -30px;
	  border: 30px solid transparent;
	  border-right: 0;
	  border-bottom: 0;
          border-left-color: $yellow;
        }
      }
      div.message.received {
        background: white;
        margin-left: 0;

        &:after {
          right: auto;
	  left: 10px;
	  border: 30px solid transparent;
	  border-right-color: white;
	  border-left: 0;
	  border-bottom: 0;
        }
      }
    }
  }
}

button {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: $radius;
  padding: 40px 10px;
  text-shadow: -1px -1px 0 white;
  box-shadow: 3px 3px 12px rgba(0,0,0,0.25);
  font-size: 25px;
  font-family: Agipo, sans-serif;
  text-transform: uppercase;
}

div.next {
  z-index: 1;
  position: fixed;
  padding: 15px;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  text-align: right;
}

div.menu {
  font-size: 1.15em;
  line-height: 1;
  text-align: center;
  margin-top: 45px;

  a {
    text-shadow: -1px -1px 0 white;
    color: black;
    display: block;
    margin: 1em;
    background: #d4d4d3;
    text-decoration:none;
    padding: 12px 24px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    border-radius: $radius;
    text-transform: uppercase;
  }
}

input[type=submit] {
}

.fancy {
  font-family: Agipo, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: $radius;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.fancy:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

footer {
  margin: 25px;
  font-size: 0.7em;
  opacity: 0.5;
}



/* Flying Emoji */

$width: 80px;
$height: 80px;

div.horizontal, div.vertical {
  position: fixed;
  top: -5px;
  left: 0;

  img {
    width: $width;
  }
}

div.horizontal {
  animation: topbottom linear infinite alternate;
}

div.vertical {
  animation: leftright linear infinite alternate;
}

$max: 30000;
$min: 10000;

div.v1 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v2 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v3 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v4 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v5 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v6 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v7 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v8 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.v9 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h1 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h2 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h3 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h4 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h5 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h6 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h7 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h8 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}
div.h9 {
  animation-delay: 0 - ($min + random($max - $min)) + ms;
  animation-duration: $min + random($max - $min) + ms;
}


@keyframes topbottom {
  to {
    transform: translateY(calc(100vh - #{$height}));
  }
}
@keyframes leftright {
  to {
    transform: translateX(calc(100vw - #{$width}));
  }
}
