@font-face {
  font-family: 'Entrails BB';
  src: url("EntrailsBB.otf") format("opentype"), url("entrailsbb-webfont.woff2") format("woff2"), url("entrailsbb-webfont.woff") format("woff"), url("entrailsbb-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background: #ffda00;
  font-family: Arial, sans-serif;
  margin: 3em;
  line-height: 1.35; }
  @media (max-width: 600px) {
    body {
      margin: 10px; } }

h1 {
  letter-spacing: 2px;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic; }

h2 {
  font-size: 1em; }

a {
  color: inherit; }

time {
  font-style: italic; }

img {
  border: none; }

blockquote {
  font-style: italic;
  margin: 0;
  padding: 0; }

header {
  padding: 20px 0;
  text-align: center;
  font-family: "Entrails BB";
  font-size: 10em;
  letter-spacing: 5px;
  transform: scaleX(0.9);
  line-height: 1; }
  header a {
    text-decoration: none; }
  @media (max-width: 600px) {
    header {
      font-size: 25vw; } }

nav {
  position: absolute;
  top: 5px;
  right: 10px; }

main {
  display: flex;
  margin: -3em;
  margin-bottom: 0;
  overflow: hidden; }
  main > section {
    margin: 3em;
    flex: 1 1 0; }
  @media (max-width: 600px) {
    main {
      display: block;
      margin: 0; }
      main section {
        margin: 0; } }

section.left p {
  font-size: 1.25em; }

section.session {
  margin-bottom: 2em; }

footer {
  opacity: .5; }

div.horizontal, div.vertical {
  position: fixed;
  top: -5px;
  left: 0; }
  div.horizontal img, div.vertical img {
    width: 80px;
    transform: scale(1.5); }
    @media (max-width: 600px) {
      div.horizontal img, div.vertical img {
        transform: scale(1); } }

div.horizontal {
  animation: topbottom linear infinite alternate; }

div.vertical {
  animation: leftright linear infinite alternate; }

@media (max-width: 600px) {
  div.h4, div.h5, div.h6, div.h7, div.h8, div.h9 {
    display: none; } }

div.v1 {
  animation-delay: -21798ms;
  animation-duration: 26874ms; }

div.v2 {
  animation-delay: -13143ms;
  animation-duration: 25344ms; }

div.v3 {
  animation-delay: -16954ms;
  animation-duration: 11210ms; }

div.v4 {
  animation-delay: -15502ms;
  animation-duration: 16067ms; }

div.v5 {
  animation-delay: -14354ms;
  animation-duration: 22009ms; }

div.v6 {
  animation-delay: -21309ms;
  animation-duration: 13545ms; }

div.v7 {
  animation-delay: -18836ms;
  animation-duration: 24299ms; }

div.v8 {
  animation-delay: -26821ms;
  animation-duration: 14852ms; }

div.v9 {
  animation-delay: -16264ms;
  animation-duration: 28819ms; }

div.h1 {
  animation-delay: -29732ms;
  animation-duration: 23089ms; }

div.h2 {
  animation-delay: -13186ms;
  animation-duration: 16228ms; }

div.h3 {
  animation-delay: -14977ms;
  animation-duration: 29099ms; }

div.h4 {
  animation-delay: -26393ms;
  animation-duration: 14448ms; }

div.h5 {
  animation-delay: -14017ms;
  animation-duration: 21252ms; }

div.h6 {
  animation-delay: -27894ms;
  animation-duration: 22890ms; }

div.h7 {
  animation-delay: -20995ms;
  animation-duration: 20174ms; }

div.h8 {
  animation-delay: -24711ms;
  animation-duration: 21839ms; }

div.h9 {
  animation-delay: -17729ms;
  animation-duration: 12860ms; }

@keyframes topbottom {
  to {
    transform: translateY(calc(100vh - 80px)); } }

@keyframes leftright {
  to {
    transform: translateX(calc(100vw - 80px)); } }

/*# sourceMappingURL=main5.css.map */