@font-face {
  font-family: 'Entrails BB';
  src: url("EntrailsBB.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

body {
  background: #ccc;
  font-family: Arial, sans-serif;
  margin: 3em;
  line-height: 1.35; }
  @media (max-width: 600px) {
    body {
      margin: 10px; } }

h1 {
  letter-spacing: 2px;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic; }

h2 {
  font-size: 1em; }

a {
  color: inherit; }

time {
  font-style: italic; }

img {
  border: none; }

blockquote {
  font-style: italic;
  margin: 0;
  padding: 0; }

header {
  padding: 20px 0;
  text-align: center;
  font-family: "Entrails BB";
  font-size: 10em;
  letter-spacing: 5px;
  transform: scaleX(0.9);
  line-height: 1; }
  header a {
    text-decoration: none; }
  @media (max-width: 600px) {
    header {
      font-size: 25vw; } }

main {
  display: flex;
  margin: -3em;
  margin-bottom: 0;
  overflow: hidden; }
  main > section {
    margin: 3em;
    flex: 1 1 0; }
  @media (max-width: 600px) {
    main {
      display: block;
      margin: 0; }
      main section {
        margin: 0; } }

section.left p {
  font-size: 1.25em; }

section.session {
  margin-bottom: 2em; }

footer {
  color: #888; }

div.horizontal, div.vertical {
  position: fixed;
  top: -5px;
  left: 0; }
  div.horizontal img, div.vertical img {
    width: 80px;
    transform: scale(1.5); }
    @media (max-width: 600px) {
      div.horizontal img, div.vertical img {
        transform: scale(1); } }

div.horizontal {
  animation: topbottom linear infinite alternate; }

div.vertical {
  animation: leftright linear infinite alternate; }

@media (max-width: 600px) {
  div.h4, div.h5, div.h6, div.h7, div.h8, div.h9 {
    display: none; } }

div.v1 {
  animation-delay: -24576ms;
  animation-duration: 19727ms; }

div.v2 {
  animation-delay: -23548ms;
  animation-duration: 27633ms; }

div.v3 {
  animation-delay: -27966ms;
  animation-duration: 23810ms; }

div.v4 {
  animation-delay: -24541ms;
  animation-duration: 12308ms; }

div.v5 {
  animation-delay: -21995ms;
  animation-duration: 23849ms; }

div.v6 {
  animation-delay: -11973ms;
  animation-duration: 19801ms; }

div.v7 {
  animation-delay: -11801ms;
  animation-duration: 20819ms; }

div.v8 {
  animation-delay: -11400ms;
  animation-duration: 28756ms; }

div.v9 {
  animation-delay: -27853ms;
  animation-duration: 14676ms; }

div.h1 {
  animation-delay: -29881ms;
  animation-duration: 17105ms; }

div.h2 {
  animation-delay: -24784ms;
  animation-duration: 23870ms; }

div.h3 {
  animation-delay: -16378ms;
  animation-duration: 28913ms; }

div.h4 {
  animation-delay: -23543ms;
  animation-duration: 17116ms; }

div.h5 {
  animation-delay: -28266ms;
  animation-duration: 14567ms; }

div.h6 {
  animation-delay: -15609ms;
  animation-duration: 13837ms; }

div.h7 {
  animation-delay: -22230ms;
  animation-duration: 29429ms; }

div.h8 {
  animation-delay: -25038ms;
  animation-duration: 12534ms; }

div.h9 {
  animation-delay: -23464ms;
  animation-duration: 17975ms; }

@keyframes topbottom {
  to {
    transform: translateY(calc(100vh - 80px)); } }

@keyframes leftright {
  to {
    transform: translateX(calc(100vw - 80px)); } }

/*# sourceMappingURL=../../../../../../static/main4.css.map */