{% load static %}
{% load sass_tags %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'game/main2.scss' %}"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <main>
      <section class="type{{screen.type.type}}" id="scroll">
        {% block content %}
        {% endblock %}
      </section>
    </main>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script>
      function set_size() {
          var w = window.innerWidth;
          var h = window.innerHeight;

          aspect = 16 / 10

          x = w;
          y = aspect * w;

          if (y > h) {
              x = (h/y) * w;
              y = h;
          }

          $('main').width(x);
          $('main').height(y);
          $('main').show();
      }

      $(function() {
          $(window).on('resize', set_size);
          set_size();
      });
    </script>
    {% block extrabody %}{% endblock %}
  </body>
</html>
