{% extends 'game/base.html' %}
{% load static %}

{% block extrahead %}
  <style>
    div.character {
        box-sizing: border-box;
        min-height: 100%;
        background: #d4d4d3;
        overflow: hidden;
    }
    img.character {
        width: 100%;;
    }
    a.fancy {
        float: right;
        margin: 1em 0;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="character">
      {% if character.image %}
        <img class="character" src="{{character.image.url}}" alt="{{character.title}}">
      {% else %}
        <img class="character" src="{% static 'placeholder.png' %}">
      {% endif %}
      {{character.intro|safe}}
      <center>
        <a href="{% url 'game' %}">
          <img src="{% static 'pijl.png' %}" width="70" alt="verder">
        </a>
      </center>
  </div>

{% endblock %}
