{% extends 'game/base.html' %}
{% load static %}

{% block extrahead %}
  <style>
    div.character {
        box-sizing: border-box;
        min-height: 100%;
        background: #d4d4d3;
        overflow: hidden;
    }
    img {
        width: 100%;;
    }
    a.fancy {
        float: right;
        margin: 1em 0;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="character">
      {% if character.image %}
        <img src="{{character.image.url}}" alt="{{character.title}}">
      {% else %}
        <img src="{% static 'placeholder.png' %}">
      {% endif %}
      {{character.intro|safe}}
    <a href="{% url 'game' %}" class="fancy">Verder</a>
  </div>

{% endblock %}
