{% extends 'game/base.html' %}
{% load static %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <div class="screen" style="background-color: $d4d4d3">
      <div class="title">
        <h1>
          Kies je karakter
        </h1>
      </div>
      <div class="characters">
        {% for character in form.fields.character.queryset.all %}
          {% if character.active %}
            <button class="fancy" type="submit" name="character" value="{{character.pk}}">
              {% if character.emoji %}
                <img src="{{character.emoji.url}}" alt="{{character.title}}">
              {% else %}
                <img src="{% static 'placeholder.png' %}" alt="{{character.title}}">
              {% endif %}
            </button>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </form>
{% endblock %}
