{% extends 'game/base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <div class="header">
      <h1>Kies een karakter</h1>
    </div>

    <div class="screen">
      {% for value, label in form.fields.character.choices %}
        <label for="id_{{value}}"><input type="radio" name="character" value="{{value}}" id="id_{{value}}">
          {{label}}
        </label><br>
      {% endfor %}
    </div>

    <input type="submit" value="Verder" class="fancy">
  </form>
{% endblock %}
