{% extends 'game/base.html' %}
{% load static %}

{% block extrahead %}
  <style>
    form {
        transition: 1s;
    }
  </style>
{% endblock %}

{% block content %}
  {% if user.is_staff %}
    <a class="edit" href="{% url 'admin:game_screen_change' screen.pk %}">bewerk dit scherm</a>
  {% endif %}

  <form method="post" id="form">
    {% csrf_token %}
    {% if screen.type.type == 10 %} <!-- Keuze -->
      <div class="screen choice">
        <p>
          {{screen.title}}
        </p>
        {% for route in routes %}
          <button style="background-color: {{foreground_color}}" type="submit" name="route" value="{{route.pk}}">{{route.name}}</button>
        {% endfor %}
    </div>

    {% elif screen.type.type == 20 %} <!-- Actie -->
    <div class="screen" style="background-color: {{background_color}}; background-image: url({{background_image}})">
    </div>

    {% elif screen.type.type == 30 %} <!-- Locatie -->
    <div class="screen" style="background-color: {{background_color}}; background-image: url({{background_image}})">
      <div class="title">
        <h1 style="background-color: {{foreground_color}}; color: {{text_color}}">
          {{screen.title}}
        </h1>
      </div>
    </div>

    {% elif screen.type.type == 40 %} <!-- Mededeling -->
    <div class="screen" style="background-color: {{background_color}}; background-image: url({{background_image}})">
      {% if background_image == 'none' %}
        <div class="alert">
          {{screen.title}}
        </div>
      {% endif %}
    </div>

    {% elif screen.type.type == 50 %} <!-- Gesprek -->
      <div class="screen type{{screen.type.type}}" style="background-color: {{background_color}}">
        <div class="title">
          <h1 style="background-color: {{foreground_color}}; color: {{text_color}}">
            {{screen.title}}
          </h1>
        </div>
        <div class="messages">
          {% for message in screen.messages.all %}
            <div class="message {% if message.received %}received{% endif %}">
            {{message|safe}}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block extrabody %}
  <script type="module">
    import TinyGesture from "{% static 'TinyGesture.js' %}";

    document.addEventListener('DOMContentLoaded', () => {
        document.body.style.background = '{{background_color}}';
        const form = document.getElementById('form');
        const gesture = new TinyGesture(form);
        gesture.on('swipeleft', () => {
            form.style.transform = 'translateX(-100%)';
            form.style.opacity = '0';
            setTimeout(() => form.submit(), 1000);
            //form.submit();
        });
    });
  </script>
{% endblock %}
