{% extends 'game/base.html' %}

{% block content %}
  {% if user.is_staff %}
    <a class="edit" href="{% url 'admin:game_screen_change' screen.pk %}">bewerk dit scherm</a>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {% if screen.type.type == 10 %}
      <div class="screen choice">
        <p>
          {{screen.title}}
        </p>
        {% for route in routes %}
          <button style="background-color: {{foreground_color}}" type="submit" name="route" value="{{route.pk}}">{{route.name}}</button>
        {% endfor %}
    </div>

    {% elif screen.type.type == 30 %}
    <div class="screen" style="background-color: {{background_color}}; background-image: url({{background_image}})">
      <div class="title">
        <h1 style="background-color: {{foreground_color}}">
          {{screen.title}}
        </h1>
      </div>
    </div>

    {% elif screen.type.type == 40 %}
    <div class="screen" style="background-color: {{background_color}}; background-image: url({{background_image}})">
    </div>

    {% elif screen.type.type == 50 %}
      <div class="screen type{{screen.type.type}}" style="background-color: {{background_color}}">
        <div class="title">
          <h1 style="background-color: {{foreground_color}}">
            {{screen.title}}
          </h1>
        </div>
        <div class="messages">
          {% for message in screen.messages.all %}
            <div class="message {% if message.received %}received{% endif %}">
            {{message|safe}}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if not screen.type.type == 10 %}
      <div class="next">
        <input type="submit" value="Verder" class="fancy">
      </div>
    {% endif %}
  </form>

{% endblock %}

{% block extrabody %}
  <script>
    function show_gradient() {
        section = document.getElementById('scroll');
        if (section.scrollHeight > section.offsetHeight) {
            $('div.gradient').show();
        } else {
            $('div.gradient').hide();
        }
    }

    $(function() {
        $(window).on('resize', show_gradient);
        show_gradient();
    });

  </script>
{% endblock %}
