{% extends 'game/base.html' %}
{% load thumbnail %}

{% block content %}
  <form style="background-color:#ffda00;">
    <div class="header">
      <h1 style="background:none; box-shadow:none; font-size:2.5em; line-height:1.1">Welkom&nbsp;op Camping&nbsp;Kafka</h1>
    </div>

    <div class="screen" style="text-align:center; font-size:1.5em">
      {{content|safe}}
    </div>

    <div class="menu">
      {% if continue %}
        <a href="{% url 'game' %}">Doorgaan</a>
        <a href="{% url 'choose_character' %}">Opnieuw beginnen</a>
      {% else %}
        <a href="{% url 'choose_character' %}">Start</a>
      {% endif %}
    </div>
    <footer>
      {{footer|safe}}
    </footer>
  </form>

{% endblock %}

{% block extrabody %}
  {% for e in emoji %}
    <div class="horizontal h{{forloop.counter}}">
      <div class="vertical v{{forloop.counter}}">
        <img src="{{e.image|thumbnail_url:'small'}}" alt="{{e.image.name|default:'emoji'}}">
      </div>
    </div>
  {% endfor %}
{% endblock %}
