{% extends 'game/base.html' %}
{% load thumbnail %}

{% block content %}
  <div class="title_screen">
    <h1>Welkom&nbsp;op Camping&nbsp;Kafka</h1>

    {{content|safe}}

    <div class="menu">
      {% if continue %}
        <a href="{% url 'game' %}">Doorgaan</a>
        <a href="{% url 'intro' %}">Opnieuw beginnen</a>
      {% else %}
        <a href="{% url 'intro' %}">Start</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrabody %}
  {% for e in emoji %}
    <div class="horizontal h{{forloop.counter}}">
      <div class="vertical v{{forloop.counter}}">
        <img src="{{e.image|thumbnail_url:'small'}}" alt="{{e.image.name|default:'emoji'}}">
      </div>
    </div>
  {% endfor %}
{% endblock %}
